/*
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.tile-footer-icon-buttons { color: #006600; }
.default-warning-color { color: #AF514C; }
*/




.loginForm {
	background-color: #C8E6C9;
	padding: 10px;
}
.loginForm input {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 5px;
	font-size: x-large;
	font-weight: bolder;
	padding: 10px;
}
.hint {
	margin: 10px;
}