html, body {
	font-family: 'Roboto', sans-serif, helvetica, tahoma, arial;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

/** Enabled Step 3... **/
md-toolbar h3 {
	margin: auto;
	font-weight: 500;
}

md-list-item > button {
	width: 100%;
	text-align: left !important;
}

#content {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: auto; /* Add vertical scrollbar */
}

.page_content {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.avatar {
	position: relative;
	width: 128px;
	height: 128px;
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom: 0.70;
	transform: translateZ(0);
	-webkit-transform: scale(0.70);
	-moz-transform:scale(0.70);
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdl-grid {
  padding: 0!important;
}

.mdl-cell {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #eee;
	margin: 10px 0px;
	padding: 10px 10px;
	color: #000;
	font-weight: bold;
}




.red{ background-color: red; }
.lightblue{ background-color: lightblue; }
.lightgreen{ background-color: lightgreen; }

/* horizontal rule css */
hr { 
  height: 15px; 
  border-style: solid; 
  border-color: #000; 
  border-width: 1px 0 0 0; 
  border-radius: 5px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 15px;
  margin-top: -16px; 
  border-style: solid; 
  border-color: #000; 
  border-width: 0 0 1px 0; 
  border-radius: 5px; 
}


.list_on_tab {
	list-style-position: inside;
	padding: 0; 
}


.card_standard {
	background-color: #9cf; 
	border: 1px solid #444;
	border-radius: 5px; 
	list-style: none;
	padding: 5px;
	margin: 0px 5px 5px 10px;
	margin-bottom: 10px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.mdl-card__media {
	margin: 0;
}

.mdl-card__media > img {
	max-width: 100%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}
.content-grid {
	max-width: 960px;
}


.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}


.navbar {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0 !important;
    border: 4px solid green;
}


.navbar li {
	text-align: center;
	display: inline;
}


ul {
	list-style: none;
}







/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

/* Decorations */
.col-xs-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-xs-4:nth-child(3n+1) { background: #c69; }
.col-xs-4:nth-child(3n+2) { background: #9c6; }
.col-xs-4:nth-child(3n+3) { background: #69c; }

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

img {
	width: 100%;
}

.fab_small {
	float: right;
	margin-right: 200px;	
}

md-input-container:not(.md-input-invalid) .md-input {
	border-color: #000;
	color: #000;
	margin: 0px;
}


/* Palette generated by Material Palette - materialpalette.com/green/light-green */
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.tile-footer-icon-buttons { color: #006600; }
.default-warning-color { color: #AF514C; }






#cardGrid {
	overflow: hidden;
}

.cardBox {
	border: 4px solid red;
	width: 20%;
	color: #FFF;
	position: relative;
	float: left;
}

.cardGridContent {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 10px;
	background: #2E7D32;
	padding: 10px;
}
@media only screen and (max-width : 480px) {
	/* Smartphone view: 1 tile */
	.cardBox {
		width: 100%;
		padding-bottom: 100%;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	.cardBox {
		width: 50%;
		padding-bottom: 25%;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.cardBox {
		width: 33.3%;
		padding-bottom: 25%;
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 4 tiles */
	.cardBox {
		width: 25%;
		padding-bottom: 25%;
	}
}


.odd { background-color: lightgreen; }
.even { background-color: #fff; }



.shoppingCartPanel {
	background-color: #C8E6C9;
	border: 3px solid green;
	border-radius: 15px;
	padding: 15px;
	width: 100%;
	z-index: 10;
}
.shoppingCartPanelShowMenu {
	animation-duration: 1s;
	animation-name: shoppingCartPanelSlideIn;
	animation-fill-mode: forwards;
}
@keyframes shoppingCartPanelSlideIn {
	from {
		border: 3px solid blue;
		position: absolute;
		left: 1300px;
		top: 50px;
		width: 100%;
		z-index: 10;
	}
	to {
		border: 3px solid red;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		left: 50px;
		top: 50px;
		width: 80%;
		z-index: 10;
	}
}
.shoppingCartPanelCloseMenu {
	animation-duration: 3s;
	animation-name: shoppingCartPanelSlideOut;	
}
@keyframes shoppingCartPanelSlideOut {
	from {
		border: 3px solid red;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		left: 50px;
		top: 50px;
		width: 80%;
		z-index: 10;
	}

	to {
		border: 3px solid blue;
		position: absolute;
		left: 1300px;
		top: 50px;
		width: 100%;
		z-index: 10;
	}
}


.shoppingCartTable tr td {
	border: 1px solid green;
	font-size: large;
	padding: 5px;
}



#appBody {
	height: 100%;
}

#appBodyConent {
	height: 100%;
}

#uiview {
	background-color: #69B;
	height: 100vh;
	overflow: hidden;
}

#homeContent {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.homeContainer {
	background-color: #966; 
    height: -moz-calc(100%); 
    height: -webkit-calc(100%); 
    height: calc(100%);
	height: 100vh;
	position: relative;
}

#homePanel {
	overflow-y: auto;
	-ms-overflow-y: auto;
}

.homePanelButtons_left {
	color: white; 
	float: left; 
	padding: auto;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	text-align: center;
	width: 50%;
}


.homePanelButtons_right {
	border-left: 1px solid black;
	float: right; 
	right: 0px;
}






#cookPanel {
	overflow-y: auto;
	-ms-overflow-y: auto;
}

.cookPanelButtons_left {
	color: white; 
	float: left; 
	padding: auto;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	text-align: center;
	width: 50%;
}


.cookPanelButtons_right {
	border-left: 1px solid black;
	float: right; 
	right: 0px;
}






#footer {
	overflow-y: auto;
	-ms-overflow-y: auto;
}

.footer_left {
	color: white; 
	float: left; 
	padding: auto;
	padding-top: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	text-align: center;
	width: 50%;
}


.footer_right {
	border-left: 1px solid black;
	float: right; 
	right: 0px;
}