<md-content>

	<dashboard-header></dashboard-header>

	<md-tabs 
		layout-padding
		md-selected="0" 
		md-stretch-tabs="always" 
		md-dynamic-height 
		md-center-tabs 
	>
		<!-- TAB 1 -->
		<md-tab label="Select Cook or Company" >
			<md-tab-body layout-padding="true">
				<cooks></cooks>
			</md-tab-body>
		</md-tab>

		<!-- TAB 2 -->
		<md-tab label="Platters" >
			<md-tab-body layout-padding="true">
				<cooks-platters></cooks-platters>
			</md-tab-body>
		</md-tab>

	</md-tabs>

</md-content>