<!-- FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON -->
<div class="container">
	<div class="row">
		<md-button 
			class="md-fab md-accent md-fab-top-right"
			data-toggle="modal" 
			data-target="#addPlatterModal"
			aria-label="Add a new platter"
		>
			<md-tooltip>Add Platter</md-tooltip>
			<md-icon>add</md-icon>
		</md-button>
	</div>
</div>
<!-- FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON FAB ADD PLATTER BUTTON -->






<!-- ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL -->
<!-- Add Platter Modal -->
<div class="modal fade" id="addPlatterModal" role="dialog" data-backdrop="false" style="border: 3px solid red;">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<form style="border: 5px solid orange;">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add a new platter</h4>
				</div><!-- modal-header -->

				<div class="modal-body">
					<div class="container-fluid">
						<input id="platterName" 
							class="form-control input-sm" 
							type="text" 
							ng-model="$ctrl.platter.name"
							placeholder="Platter Name..." />

						<input id="platterPrice"
							class="form-control input-sm"
							type="text"
							ng-model="$ctrl.platter.price"
							placeholder="Platter Price..." />

						<input id="platterDescription" 
							class="form-control input-sm" 
							type="text" 
							ng-model="$ctrl.platter.description"
							placeholder="Platter Description..." />

						<br />

						<p>Add your platter, then add food to it.</p>

					</div><!-- container-fluid -->
				</div><!-- modal-body -->


				<div class="modal-footer">
					<div class="btn-group">
						<button 
							id="save" 
							type="button" 
							class="btn btn-default" 
							ng-click="$ctrl.addPlatter($ctrl.platter)" 
							data-dismiss="modal">
							Add
						</button>
						
						<button 
							id="cancel" 
							type="button" 
							class="btn btn-default" 
							data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div><!-- modal-footer -->

			</form><!-- form -->

		</div><!-- modal-content -->


	</div><!-- modal-dialog -->
</div>
<!-- ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL ADD PLATTER MODAL -->






<div class="container" style="border: 1px solid green; border-radius: 5px; margin: 5px;">
	<div class="row" style="border: 5px solid green; position: relative;">
	<!-- ADD PLATTER ITEMS MODAL ADD PLATTER ITEMS MODAL ADD PLATTER ITEMS MODAL -->

		<!-- Modal -->
		<div 
			class="modal fade" 
			id="addFoodItemsModal" 
			role="dialog" 
			data-backdrop="false"
		>
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header accent-color">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add a new food item</h4>
					</div>



					<div class="modal-body">


						<!-- Food and Platter List tabs Food and Platter List tabs Food and Platter List tabs -->
						<div class="col">

							<md-tabs 
								layout-padding
								md-selected="0" 
								
								md-dynamic-height 
								md-center-tabs 
							>
								<md-tab label="{{ item.type }}" ng-repeat="item in $ctrl.foodList">

									<!-- md icon restaurant -->
									<md-tab-label>
										<md-icon 
											md-svg-src="images/svg/{{ item.type }}.svg" 
											style="width:36px; height:36px;">
										</md-icon>
									</md-tab-label>

									<md-tab-body layout-padding="true">

						<!-- BEGIN THE MD GRID LIST -->

										<md-content class="md-padding" layout-xs="column" layout="row">
											<div style="border-radius: 5px; padding-left: auto; padding-right: auto; margin-left: auto; margin-right: auto;">
												<!-- #006400 = dark green -->
												<!-- BEGIN CARD BEGIN CARD BEGIN CARD -->
												<div 
													class="card col-md-12 col-sm-12 col-xs-6"
													ng-repeat="foodItem in item.items"
													style="border: 3px solid #006400; border-radius: 10px; margin-bottom: 10px; padding-left: 0px; padding-right: 0px;"
												>
													<img class="card-img-top img- fluid" 
														ng-src="images/pic13.jpg"
														alt="card image"
														style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
													<div class="card-block">
														<div style="padding: 5px;">
															<strong>[{{ foodItem.type }}]</strong>
															<strong class="card-title">{{ foodItem.food_name }}</strong>
															<strong class="card-title">{{ foodItem.food_status }}</strong>
															
															<p class="card-text">{{ foodItem.description }}</p>

															<a ng-click="$ctrl.add(foodItem)" 
																class="btn btn-primary" ng-show="!foodItem.isOnPlatter">
																Add To Platter
															</a>

															<!-- <p> foodItem.isOnPlatter: {{ foodItem.isOnPlatter }}</p> -->

															<a ng-click="$ctrl.remove(foodItem)" 
																class="btn btn-danger" ng-show="foodItem.isOnPlatter">
																Remove
															</a>

															<span flex></span>

															<a ng-click="$ctrl.close()" 
																class="btn btn btn-danger" 
																data-dismiss="modal"
															>
																Close
															</a>
														</div>
													</div>
												</div>
												<!-- END CARD END CARD END CARD END CARD -->
											</div>

										</md-content>

						<!-- END THE MD GRID LIST -->


									</md-tab-body>			

								</md-tab>

							</md-tabs>

						</div>
						<!-- Food and Platter List tabs Food and Platter List tabs  -->
					</div>
					<!-- modal body modal body modal body modal body modal body modal body -->

					<div class="modal-footer accent-color">
						<div class="btn-group">
							<button 
								id="save" 
								type="button" 
								class="btn btn-primary btn-xs" 
								ng-click="$ctrl.onSave($ctrl.NewFoodItem)" 
								data-dismiss="modal"
							><i class="material-icons">save</i></button>

							<button 
								id="cancel" 
								type="button" 
								class="btn btn-danger btn-xs" 
								data-dismiss="modal"
							><i class="material-icons">cancel</i></button>
						</div>
					</div><!-- modal-footer -->

				</div><!-- modal-content -->

			</div><!-- modal-dialog -->
		</div>
		<!-- Modal -->

	<!-- ADD PLATTER ITEMS MODAL ADD PLATTER ITEMS MODAL ADD PLATTER ITEMS MODAL -->


	</div>
</div>











<!-- PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD -->

<div>
	<ul>	
		<li ng-repeat="platter in $ctrl.platters">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<md-card style="border: 1px solid blue; border-radius: 15px;">

<!-- 					<md-card-title>
						<md-card-title-text>
							<span class="md-subhead">SubHead</span>
						</md-card-title-text>
					</md-card-title>
 -->

					<md-card-header>
						<!--<md-card-avatar><img class="md-user-avatar" src="avatar.png"></md-card-avatar>-->
						<md-card-header-text>
							<span class="md-headline">
								<span>{{ platter.platter_name }} (#{{ platter.platter_id }})
								<span>$</span>{{ platter.price }}</span>
							</span>
							<span class="md-title">{{ platter.platter_name }}</span>
							<!--<span class="md-subhead">Sub Platter Notation</span>-->
						</md-card-header-text>

					</md-card-header>



					<!--<img ng-src="card-image.png" class="md-card-image" alt="image caption">-->


					<md-card-content>
						<!-- foodItem in platter.Food -->
						<div layout="row">
							<ul style="list-style: none; width: 100%;">
								<li ng-repeat="foodItem in platter.Food">
									<table style="border: 1px solid #000; width: 100%;">
										<tr>
											<td style="border: 1px solid #ccc; width: 90%;">
												[{{foodItem.type}}] | {{foodItem.food_name}}
												<!-- {{foodItem.description}} -->
											</td>

											<td style="border: 1px solid #ccc; width: 10%;">
												<button
													class="btn btn-danger btn-xs"
													id="removePlatter" 
													type="button" 
													style="position: relative; right: 0px;"
													ng-click="$ctrl.remove(foodItem)" 
													aria-label="Remove Food Item" >
													<md-icon>remove</md-icon>
													<md-tooltip>Remove Food Item</md-tooltip>
												</button>
											</td>
										</tr>

										

									</table>

								</li>
							</ul>
						</div>

						<div layout="row">
							<div layout="column">
								<div layout="row">
									<md-button 
										class="btn btn-success btn-xs"
										id="addFoodItemToPlatter"
										data-toggle="modal" 
										data-target="#addFoodItemsModal"
										ng-click="$ctrl.addFoodItemToPlatter(platter)" 
										aria-label="add food item to platter" 
									>
										<md-icon>add</md-icon>
										<md-tooltip>Add Food Item modal</md-tooltip>
									</md-button><span style="vertical-align: text-bottom;">Add a food item to this platter.</span>
								</div>

								<div layout="row">
									<md-button 
										class="btn btn-success btn-xs"
										ng-click="$ctrl.onDelete(platter)"
									>
										<md-icon>delete</md-icon>
										<md-tooltip>Remove Platter</md-tooltip>
									</md-button><span>Remove this platter.</span>
								</div>
							</div>

						</div>

					</md-card-content>

				</md-card>
			</div>
		</li>
	</ul>

</div>

<!-- PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD PLATTER CARD -->