<nav class="navbar navbar-default">
	<div class="container-fluid" style="background-color: green;">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" ui-sref="index" style="color: black;">
				<i class="material-icons" style="padding-right: 15px;">keyboard_arrow_left</i>
				<h3 style="display: inline;">Dashboard</h3>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">

			<!--<hamburger link='elloHay' linkText="inklay"></hamburger>-->


				<li>
					<a ui-sref="profile" style="color: black;">
						<h3 style="display: inline;">Profile</h3>
					</a>
				</li>

				<li>
					<a ui-sref="invitations" style="color: black;">
						<h3 style="display: inline;">Invitations</h3>
					</a>
				</li>

				<li>
					<a ui-sref="members" style="color: black;">
						<h3 style="display: inline;">Members</h3>
					</a>
				</li>

				<li>
					<a ui-sref="updates" style="color: black;">
						<h3 style="display: inline;">Updates</h3>
					</a>
				</li>

			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
