<h3>Update Your Data</h3>

<div layout="col">
	<table style="padding: 5px; margin: 5px; width: 95%;">

		<tr style="border: 2px solid #036; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Food</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary" ng-click="$ctrl.update('food');">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>

		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Food Types</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Platters</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Platter Items</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Profile</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary" ng-click="$ctrl.update('profile');">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Menus</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Menus with Platters</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Menus with Platters with Platter Items</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Invitation Modes</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Invitations</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>


		<tr style="border: 2px solid #036; border-radius: 10px; width: 100%;">
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: left;">Invitation Recipients</td>
			<td style="padding: 5px; margin: 5px; width: 100%; text-align: right;">
				<button class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</td>
		</tr>



	</table>
</div>