<md-content>

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>
	
	<div class="custom-search-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for food or a cook by zip code.">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div><!-- /input-group -->
	</div>

	<div class="pageButtons">
		<!--<ul>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
		</ul>
		-->
	</div>

	<div class="messages">
		<ul>
			<li class="alert alert-danger" ng-repeat="message in $ctrl.messages">
				{{ message.message }}
			</li>
		</ul>
	</div>

	<md-tabs 
		layout-padding
		md-selected="0" 
		md-stretch-tabs="always" 
		md-dynamic-height 
		md-center-tabs 
	>
		<!-- TAB 1 -->
		<md-tab label="Food">
			<md-tab-body layout-padding="true">

				<div>
					<ul>
						<li class="alert alert-success">
							<span class="pull-left">
								Add a new food item.
							</span>
							<span class="pull-right">
								<!-- Colored FAB button with ripple -->
								<button 
									id="addFoodItemButton" 
									class="
										mdl-button 
										mdl-js-button 
										mdl-button--fab 
										mdl-button--mini-fab 
										mdl-button--colored"
									aria-label="add food item"
									ng-click="$ctrl.addFoodItem()"
									style="
										margin-top: -2.5px;
										display: inline;
										width: 10%;"
								>
									<i class="material-icons">add</i>
								</button>
							</span>
						</li>
					</ul>

					<span>$ctrl.type = {{ $ctrl.type }}</span>

					<div>
						<ul>
							<li class="alert alert-success" ng-repeat="item in $ctrl.List">
								{{ item.name }}
							</li>
						</ul>
					</div>

				</div>

			</md-tab-body>
		</md-tab>

	</md-tabs>

</md-content>