<!-- Banner -->
<section id="banner" style="display: block; text-align: center;">
	<h2>My Personal Kitchen</h2>
	<p>Earn Money Cooking Food From Home</p>

	<div class="row" 
		style="
			margin: auto 0; 
			display: inline-block; 
			text-align: left;"
	>
		<section>	
			<!--<login-form person="person"><login-form>-->
		</section>
	</div>

</section>




<!-- Main -->
<section id="main" class="container">

	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon major fa-bolt accent2"></span>
				<h3>Invitations</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-area-chart accent3"></span>
				<h3>Food</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent4"></span>
				<h3>Platters</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-lock accent5"></span>
				<h3>Menus</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent4"></span>
				<h3>Monetize</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-lock accent5"></span>
				<h3>Reports</h3>
				<p>Stay in the know with up to the minute detailed reports.</p>
			</section>
		</div>
	</section>

</section>

<div layout="row" flex>
	<span flex></span>
		<!-- The actual snackbar -->
		<div id="snackbar">{{ snackbarMessage }} ...</div>
	<span flex></span>
</div>