<!-- partials\index\header.html -->

<header id="header" class="alt">
	<h1>
		<a href="index.html">My Personal Kitchen</a>
	</h1>
	<nav id="nav" class="navbar navbar-inverse">
		<ul class="actions" style="display: inline;">
			<li><a href="#" class="button special icon fa-lock">Loginssss</a></li>

<!-- 						<li>
				<div 
					class="button g-signin2" 
					data-onsuccess="$scope.onSignIn();" 
					data-theme="dark">
				</div>
			</li>

			<li>
				<a class="button" onclick="signOut();">Sign out</a>
				<script>
					function signOut() {
						var auth2 = gapi.auth2.getAuthInstance();
						auth2.signOut().then(function () {
							console.log('User signed out.');
						});
					}
				</script>						
			</li>
-->
			<li><a href="#" class="button special">Dashboard</a></li>
			<li><a href="#" class="button special">Profile</a></li>
			<li><a href="#" class="button special">Invitations</a></li>
			<li><a href="#" class="button special">Members</a></li>
		</ul>
	</nav>
</header>