<div class="container" style="padding-left: 0px; padding-right: 0px; display: block-inline;">

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div id="jumbotron" class="jumbotron jumbotron-fluid" style="border-radius: 0px; margin-bottom: 0px;
		padding: 0px;">

		<div id="indexImage" class="indexImage">
			<img
				src="images/homepage/homepage320.png"
				class="md-media-md homepageFallbackImage"
				alt="home page image"
			>
		</div>

		<div id="indexText" class="indexText">
			<h1 class="display-3">My Personal Kitchen</h1>

			<p class="lead">
				Earn Money Selling Your Culinary Delights To Family and Friends.
			</p>
		</div>
	</div>


	<!-- cards cards cards cards cards cards cards -->
	<div id="cards" class="cards" style="margin: 0px;">


		<div class="singleColumnCard">
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Invite</span>
							<span class="md-subhead">Invite friends and family to taste your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->

				</md-card-content>		
			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Cook</span>
							<span class="md-subhead">Cook and have fun with your family and friends.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->
				</md-card-content>		
			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Earn</span>
							<span class="md-subhead">Earn money from your friends and family by treating them to their culinary delights, your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->
				</md-card-content>		
			</md-card>
		</div>


		<div class="doubleColumnCard">
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Invite</span>
							<span class="md-subhead">Invite friends and family to taste your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->

				</md-card-content>		
			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Cook</span>
							<span class="md-subhead">Cook and have fun with your family and friends.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->
				</md-card-content>		
			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Earn</span>
							<span class="md-subhead">Earn money from your friends and family by treating them to their culinary delights, your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>

					<!--<div>
						<md-button class="md-raised md-primary">Sign In</md-button>
						<md-button class="md-raised md-primary">Sign Up</md-button>
					</div>-->
				</md-card-content>		
			</md-card>
		</div>


		<div class="tripleColumnCard">
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Invite</span>
							<span class="md-subhead">Invite friends and family to taste your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>
				</md-card-content>


				<!-- style="border: 1px solid blue; position: absolute; bottom: 0px; width: 100%; left: 0px;"Actions or buttons that you might need on card -->
				<!--<md-card-actions layout-align="end end" style="position: relative; bottom: 0px; width: 100%; left: 0px;">
					<md-button class="md-raised md-primary">Sign In</md-button>
					<md-button class="md-raised md-primary">Sign Up</md-button>
				</md-card-actions>-->

			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Cook</span>
							<span class="md-subhead">Cook and have fun with your family and friends.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>
				</md-card-content>


				<!-- style="border: 1px solid blue; position: absolute; bottom: 0px; width: 100%; left: 0px;"Actions or buttons that you might need on card -->
				<!--<md-card-actions layout-align="end end" style="position: relative; bottom: 0px; width: 100%; left: 0px;">
					<md-button class="md-raised md-primary">Sign In</md-button>
					<md-button class="md-raised md-primary">Sign Up</md-button>
				</md-card-actions>-->

			</md-card>
			<md-card>
				<md-card-content>
					<md-card-title layout-align="center center">
						<md-card-title-media flex="50">
							<img 
								src="images/homepage/homepage320.jpg" 
								class="md-media-md" 
								alt="AngularJS"
							>
						</md-card-title-media>

						<!-- Title caption and description -->
						<md-card-title-text flex="50">
							<span class="md-headline">Earn</span>
							<span class="md-subhead">Earn money from your friends and family by treating them to their culinary delights, your culinary designs.</span>
						</md-card-title-text>
					</md-card-title>

					<p>
						MyPersonalKitchen is Instagram, Snapchat &amp; Facebook enabled - so you can share photos and videos of your delectable dishes.<br /><br />
						Use Venmo, PayPal, Even Botcoin to collect your dough!
					</p>
				</md-card-content>


				<!-- style="border: 1px solid blue; position: absolute; bottom: 0px; width: 100%; left: 0px;"Actions or buttons that you might need on card -->
				<!--<md-card-actions layout-align="end end" style="position: relative; bottom: 0px; width: 100%; left: 0px;">
					<md-button class="md-raised md-primary">Sign In</md-button>
					<md-button class="md-raised md-primary">Sign Up</md-button>
				</md-card-actions>-->

			</md-card>
		</div>
	</div>
	<!-- cards cards cards cards cards cards cards -->

	<footer>
		<span style="color: white;">
			<h3>ADW, What message here?  Links OK too.</h3>
		</span>
	</footer>
</div>