<md-content>

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div class="pageButtons">
		<!--<ul>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
		</ul>
		-->
	</div>

	<div class="messages">
		<ul>
			<li ng-repeat="message in $ctrl.messages">
				Messages: {{ message.message }}
			</li>
		</ul>
	</div>

	<form>
		<div class="form-group">
			<label for="foodname">Name</label>
			<input type="text" 
				id="foodname"
				class="form-control"
				ng-model="$ctrl.FoodItem.name" 
				aria-describedby="name of food item" 
				placeholder="Name of food item">
		</div>
<!-- 		<div class="form-group">
			<label for="category">Category</label>
			<select type="text" 
				id="category"
				class="form-control" 
				aria-describedby="name of food category">
				<option ng-repeat="item in $ctrl.foodTypes" value="item.type">{{ item.type }}
			</select>
		</div> -->
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" 
				id="description"
				class="form-control"
				ng-model="$ctrl.FoodItem.description"
				aria-describedby="food description" 
				placeholder="Description">
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="text" 
				id="price" 
				class="form-control"
				ng-model="$ctrl.FoodItem.price" placeholder="Price">
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox"
					id="available"
					class="form-check-input"
					ng-model="$ctrl.FoodItem.status">
				Available?
			</label>
		</div>
		<button type="button" 
			class="
				btn btn-success 
				glyphicon glyphicon-plus" 
			aria-hidden="true" 
			ng-click="$ctrl.addFoodItem();"></button>

		<button type="button" 
			class="
				btn btn-success 
				glyphicon glyphicon-camera" 
			aria-hidden="true" 
			ng-click="$ctrl.cameraInput_click();"></button>

		<input 
			type="file" 
			id="cameraInput" 
			name="cameraInput"
			capture="camera" 
			accept="image/*" 
			style="display:none" />

		<img id="cameraImage" alt="">
	</form>

</md-content>