<md-content>
		
	<md-toolbar layout-padding class="md-raised md-primary md-hue-2" style="border: 1px solid yellow; margin-left: 0px;">
		<div class="md-toolbar-tools">
			<h2>My Personal Kitchen</h2>
		</div>
	</md-toolbar>
	<!--<div>
		<md-button aria-label="Settings" class="md-fab md-fab-top-right md-raised md-primary md-hue-1">
			<md-icon><i class="plus"></i></md-icon>
		</md-button>
	</div>-->

		<md-tabs 
			layout-padding
			md-selected="1" 
			md-stretch-tabs="always" 
			md-dynamic-height 
			md-center-tabs 
		>
			<md-tab label="Register">
				<h4>Welcome, This is the first tab !</h4>
			</md-tab>

			<md-tab label="Login" >
				<md-tab-body layout-padding="true">
					<login person="person"><login>
				</md-tab-body>
			</md-tab>

			<md-tab label="About">
				<h4>At last, you got to me.</h4>
			</md-tab>

		</md-tabs>		

</md-content>