<md-content>
		
	<md-toolbar layout-padding class="md-raised md-primary md-hue-2">
		<div class="md-toolbar-tools">
			<h2>My Personal Kitchen</h2>
		</div>
	</md-toolbar>
	<!--<div>
		<md-button aria-label="Settings" class="md-fab md-fab-top-right md-raised md-primary md-hue-1">
			<md-icon><i class="plus"></i></md-icon>
		</md-button>
	</div>-->

		<md-tabs id="frontPageTabs" layout-padding md-selected="1" md-stretch-tabs="always" md-dynamic-height md-center-tabs>

			<md-tab label="About">
				<h2>About Us</h2>

				<h4>Family and Friends</h4>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					We recognized that there are many people who cook food for their family and friends, yet, have no app for it and are unable to pay the vast amounts of money it takes to create a mobile app in today's world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. 
				</p>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					So, we created one.  My Personal Kitchen is your very own mobile app and website capable of sporting your branding and logo.  It's sole purpose is to provide home cooks with a platform which will allow them to provide food services to their family and friends. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					Upgrade your home kitchen to the mobile web for free! Aenean quis eleifend nisi, sit amet pulvinar leo. Integer odio erat, feugiat quis purus sed, auctor rutrum magna. Proin molestie, massa ac aliquet volutpat, metus est hendrerit erat, a tristique sapien nulla in enim. Pellentesque eros lectus, euismod id mauris eget, imperdiet elementum ligula.
				</p>

				<h4>Create</h4>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					Create a list of the food you prepare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. Pellentesque congue dictum nisi, semper sagittis nunc sollicitudin sed. Praesent non elit commodo, sagittis quam nec, auctor erat.
				</p>

				<h4>Invite</h4>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">Invite your friends to visit your personal kitchen.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. Pellentesque congue dictum nisi, semper sagittis nunc sollicitudin sed. </p>

				<h4>Cook</h3>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">Cook food for your family and friends.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum.</p>
			</md-tab>

			<md-tab label="Login" >
				<md-tab-body layout-padding="true">
					<login person="person"><login>
				</md-tab-body>
			</md-tab>

			<md-tab label="Register">
				<md-tab-body layout-padding="true">
					<h4>Registration Component Goes Here!</h4>
					<register></register>
				</md-tab-body>
			</md-tab>

		</md-tabs>		

</md-content>