<div class="container" style="padding-left: 0px; padding-right: 0px; display: block-inline;">

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div id="jumbotron" class="jumbotron jumbotron-fluid" style="border-radius: 0px; margin-bottom: 0px;
		padding: 0px;">

		<div id="indexImage" class="indexImage">
			<img
				src="images/homepage/homepage320.png"
				class="md-media-md homepageFallbackImage"
				alt="home page image"
			>
		</div>

		<div id="indexText" class="indexText">
			<h1 class="display-3">My Personal Kitchen</h1>

			<p class="lead">
				Earn Money Selling Your Culinary Delights To Family and Friends.
			</p>
		</div>
	</div>

	<form class="form-horizontal loginForm" layout="column"
		name="loginForm" 
		novalidate 
		ng-model-options="{ allowInvalid: true, debounce: 400 }"
	>
		<h3 ng-if="$ctrl.person.firstName.length > 0">Welcome {{ $ctrl.person.firstName }}</h3>

		<span flex></span>

		<md-input-container style="margin: 0px;">
			<input 
				type="email"
				id="emailAddress"
				name="emailAddress"
				ng-model="$ctrl.person.emailAddress"
				required
				aria-label="emailaddress"
			>
			<div class="hint">Email</div>
		</md-input-container>

		<md-input-container style="margin: 0px;">
			<input 
				type="password" 
				id="password"
				name="password"
				ng-model="$ctrl.person.password"
				required
				aria-label="password"
			>
			<div class="hint">Password</div>
		</md-input-container>


		<div layout="row" flex>
			<span flex></span>

			<div class="form-group"> 
				<div class="col-sm-12">

					<div layout="row">

						<md-button id="loginButton" class="md-raised md-primary" 
							ng-click="$ctrl.login()"  
							aria-label="login"
						>Login</md-button>

					</div>

					<br /><br />

					<!-- Facebook -->
					<div layout="row">
						<div layout="row">
							<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
						</div>
					</div>

					<div layout="row">
						<div id="status" layout-padding></div>		
					</div>

				</div>
			</div>

			<span flex></span>
		</div>

		<div layout="row" flex>
			<span flex></span>
			<p>{{ message }}</p>
			<span flex></span>
		</div>

	</form>


	<footer>
		<span style="color: white;">
			<h3>Get your login on!</h3>
		</span>
	</footer>
</div>