<md-content id="homeContent">

	<div id="homeContainer" class="homeContainer" style="text-align: center; width: 100%;">

		<md-toolbar id="mdToolbar" layout-padding class="md-raised md-primary md-hue-2">
			<div class="md-toolbar-tools">
				<h2 style="text-align: center; width: 100%;">My Personal Kitchen</h2>
			</div>
		</md-toolbar>

		<!-- homePanel homePanel homePanel homePanel homePanel homePanel homePanel -->
		<div id="homePanel" class="col" style="color: white; text-align: center;">

			<div 
				style="position: relative; top: 0px; left: 0px;">
				<br /><br />

				<div id="homePhoto">
					<!--<div id="homePhoto"><img src="images/pic13.jpg" /></div>-->
					<!-- For modern browsers. 
					<i class="material-icons">content_paste</i>-->

					<!-- For IE9 or below. -->
					<i class="material-icons" style="font-size: 1000%;">&#xE14F;</i>

				</div>

				<div id="homeText">
					<br />
					<h1>Invite</h1>
					<br /><br />
					<p style="font-size: 120%;">
						Invite your family and friends to buy your food.<br />
						Tell them about your the platters you are inviting<br />
						Your family and friends can order your food<br />
						Electronically helping you to get paid right away!<br />
					</p>
					<br /><br />
				</div>

				<div id="homeTextNavigation">
					<span style="font-size: xx-large;">
						<span ng-click="$ctrl.showPanel('home');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('cook');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('earn');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
					</span>
				</div>
			</div>

		</div>
		<!-- homePanel homePanel homePanel homePanel homePanel homePanel homePanel -->
		<!-- cookPanel cookPanel cookPanel cookPanel cookPanel cookPanel cookPanel -->
 		<div id="cookPanel" class="col" style="color: white; text-align: center;">

			<div 
				style="position: relative; top: 0px; left: 0px;">
				<br /><br />

				<div id="cookPhoto">
					<!--<div id="cookPhoto"><img src="images/pic13.jpg" /></div>-->
					<!-- For modern browsers. 
					<i class="material-icons">content_paste</i>-->

					<!-- For IE9 or below. -->
 					<i class="material-icons" style="font-size: 1000%;">&#xE14F;</i>

				</div>

				<div id="cookText">
					<br />
					<h1>Cook</h1>
					<br /><br />
					<p style="font-size: 120%;">
						Invite your family and friends to buy your food.<br />
						Tell them about your the platters you are cooking<br />
						Your family and friends can order your food<br />
						Electronically helping you to get paid right away!<br />
					</p>
					<br /><br />
				</div>

				<div id="cookTextNavigation">
					<span style="font-size: xx-large;">
						<span ng-click="$ctrl.showPanel('home');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('cook');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('earn');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
					</span>
				</div>
			</div>

		</div>
		<!-- cookPanel cookPanel cookPanel cookPanel cookPanel cookPanel cookPanel -->
		<!-- earnPanel earnPanel earnPanel earnPanel earnPanel earnPanel earnPanel -->
 		<div id="earnPanel" class="col" style="color: white; text-align: center;">

			<div 
				style="position: relative; top: 0px; left: 0px;">
				<br /><br />

				<div id="earnPhoto">
					<!--<div id="earnPhoto"><img src="images/pic13.jpg" /></div>-->
					<!-- For modern browsers. 
					<i class="material-icons">content_paste</i>-->

					<!-- For IE9 or below. -->
 					<i class="material-icons" style="font-size: 1000%;">&#xE14F;</i>

				</div>

				<div id="earnText">
					<br />
					<h1>Earn</h1>
					<br /><br />
					<p style="font-size: 120%;">
						Invite your family and friends to buy your food.<br />
						Tell them about your the platters you are earning<br />
						Your family and friends can order your food<br />
						Electronically helping you to get paid right away!<br />
					</p>
					<br /><br />
				</div>

				<div id="earnTextNavigation">
					<span style="font-size: xx-large;">
						<span ng-click="$ctrl.showPanel('home');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('cook');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
						<span ng-click="$ctrl.showPanel('earn');">
							&nbsp;&nbsp;•&nbsp;&nbsp;
						</span>
					</span>
				</div>
			</div>

		</div>
		<!-- earnPanel earnPanel earnPanel earnPanel earnPanel earnPanel earnPanel -->

		<!-- footer footer footer footer -->
		<div id="footer">
			<div class="footer_left" style="padding-top: 3%;">
				Login
			</div>

			<div class="footer_left footer_right" style="border-right: 1px solid black; padding-top: 3%;">
				Register
			</div>
		</div>
		<!-- footer footer footer footer -->



















	</div>
		
<!--


 		<md-tabs id="frontPageTabs" layout-padding md-selected="1" md-stretch-tabs="always" md-dynamic-height md-center-tabs>

			<md-tab label="About">
				<h2>About Us</h2>

				<h4>Family and Friends</h4>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					We recognized that there are many people who cook food for their family and friends, yet, have no app for it and are unable to pay the vast amounts of money it takes to create a mobile app in today's world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. 
				</p>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					So, we created one.  My Personal Kitchen is your very own mobile app and website capable of sporting your branding and logo.  It's sole purpose is to provide home cooks with a platform which will allow them to provide food services to their family and friends. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
				<p class="light-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					Upgrade your home kitchen to the mobile web for free! Aenean quis eleifend nisi, sit amet pulvinar leo. Integer odio erat, feugiat quis purus sed, auctor rutrum magna. Proin molestie, massa ac aliquet volutpat, metus est hendrerit erat, a tristique sapien nulla in enim. Pellentesque eros lectus, euismod id mauris eget, imperdiet elementum ligula.
				</p>

				<h4>Create</h4>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">
					Create a list of the food you prepare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. Pellentesque congue dictum nisi, semper sagittis nunc sollicitudin sed. Praesent non elit commodo, sagittis quam nec, auctor erat.
				</p>

				<h4>Invite</h4>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">Invite your friends to visit your personal kitchen.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum. Pellentesque congue dictum nisi, semper sagittis nunc sollicitudin sed. </p>

				<h4>Cook</h3>
				<p class="default-primary-color" style="padding: 5px; border: 1px solid green; border-radius: 5px;">Cook food for your family and friends.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tellus nec tincidunt eleifend, dui magna feugiat dolor, eu placerat purus urna in ligula. Maecenas imperdiet mi ut sapien efficitur, id mattis ipsum vestibulum.</p>
			</md-tab>

			<md-tab label="Login" >
				<md-tab-body layout-padding="true">
					<login person="person"><login>
				</md-tab-body>
			</md-tab>

			<md-tab label="Register">
				<md-tab-body layout-padding="true">
					<h4>Registration Component Goes Here!</h4>
					<register></register>
				</md-tab-body>
			</md-tab>

		</md-tabs> -->

</md-content>