<div style="background-color: #369;">

	<h3>Profile Form</h3>

	<form class="form-horizontal" style="margin: auto; width: 90%;" layout="column">

		<span id="id" ng-model="$ctrl.profile.id">Record ID: {{ $ctrl.profile.id }}</span>

		<span id="userId" ng-model="$ctrl.profile.userId">User ID: {{ $ctrl.profile.userId }}</span>

		<input type="text" id="firstName" name="firstName" ng-model="$ctrl.profile.firstName" placeholder="First Name*" />

		<input type="text" id="lastName" name="lastName" ng-model="$ctrl.profile.lastName" placeholder="Last Name*" />

		<input type="text" id="company" name="company" ng-model="$ctrl.profile.company" placeholder="Company*" />

		<input type="text" id="phone" name="phone" ng-model="$ctrl.profile.phoneNumber" placeholder="Phone Number*" />

		<input type="text" id="email" name="email" ng-model="$ctrl.profile.email" placeholder="Email (You will use this to sign in)*" />

		<input type="text" id="password" name="password" ng-model="$ctrl.profile.password" placeholder="Choose your password*" />

		<input type="text" id="addressLine1" name="addressLine1" ng-model="$ctrl.profile.addressLine1" placeholder="Address Line 1*" />

		<input type="text" id="addressLine2" name="addressLine2" ng-model="$ctrl.profile.addressLine2" placeholder="Address Line 2*" />

		<input type="text" id="city" name="city" ng-model="$ctrl.profile.city" placeholder="City*" />

		<input type="text" id="state" name="state" ng-model="$ctrl.profile.state" placeholder="State*" />

		<input type="text" id="zip" name="zip" ng-model="$ctrl.profile.zip" placeholder="Zip Code*" />

		<input type="text" id="country" name="country" ng-model="$ctrl.profile.country" placeholder="Country*" />

		<input type="text" id="howHeard" name="howHeard" ng-model="$ctrl.profile.howHeard" placeholder="How did you hear about us?" />

		<input type="text" id="hours" name="hours" ng-model="$ctrl.profile.hours" placeholder="Hours" />

		<input type="text" id="description" name="description" ng-model="$ctrl.profile.description" placeholder="Describe your company or yourself." />

		<br />

		<div layout="row" flex>
			<span flex></span>

			<div class="form-group"> 
				<div class="col-sm-12">
					<button id="registerButton" class="md-raised btn btn-primary btn-danger" 
						ng-click="$ctrl.cancel()"
						aria-label="register button"
					>
						<span class="glyphicon glyphicon-download-alt"></span>
						<span flex></span>
						Cancel
					</button>

					<span flex></span>

					<button class="md-raised btn btn-primary btn-primary" ng-click="$ctrl.update( $ctrl.profile )" aria-label="update button">
						<span class="glyphicon glyphicon-open"></span>
						<span flex></span>
						Update
					</button>

					<span flex></span>

					<button class="md-raised btn btn-primary btn-primary" ng-click="$ctrl.add( $ctrl.profile )" aria-label="add button">
						<span class="glyphicon glyphicon-plus"></span>
						<span flex></span>
						Add
					</button>
				</div>
			</div>

			<span flex></span>
		</div>

	</form>

</div>