<div 
	id="custom-bootstrap-menu" 
	class="navbar navbar-default " 
	role="navigation"
	style="
		background-color: #993d00; 
		margin: 0 auto; 
		padding: 0 auto;
		display: inline;"
>
	<div class="container-fluid" style="background-color: #993d00; border: 1px solid red;">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="dashboard">
				<i class="material-icons">backspace</i>
			</a>
			<button 
				type="button" 
				class="navbar-toggle" 
				data-toggle="collapse" 
				data-target=".navbar-menubuilder">
				<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse navbar-menubuilder">
			<ul class="nav navbar-nav navbar-left">
				<li style="color: white;"><h2>Invitations</h2></li>
			</ul>
		</div>
	</div>
</div>



















