<!-- partials/invitations/invitations.html -->

<md-content>

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div class="custom-search-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search your invitations.">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div><!-- /input-group -->
	</div>

	<div class="pageButtons" style="margin-top: 0px;">
	</div>

	<div class="messages" style="border: 1px solid red; margin-top: 0px; display: inline;">
		<ul>
			<li ng-repeat="message in $ctrl.messages">
				Message: {{ message.message }}
			</li>
		</ul>
	</div>

	<div style="border: 1px solid red; border-radius: 5px; margin: 5px;">
		<form style="margin: 5px;">

			<div class="form-group">
				<label for="title">Title</label>
				<input 
					class="mdl-textfield__input"
					id="title" 
					type="text" 
					pattern="[A-Z,a-z]*" 
					ng-model="$ctrl.invitation.title"
					style="border: 1px solid #0a0;" />
			</div>



			<div class="form-group">
				<label for="message">Message</label>
				<textarea 
					class="mdl-textfield__input" 
					type="text" 
					rows="3"
					pattern="[A-Z,a-z]*" 
					id="message"
					ng-model="$ctrl.invitation.message"
					placeholder="Invitation Message"
					style="border: 1px solid #0c0;"
				/>
				</textarea>
			</div>


			<div class="form-group">
				<label for="beginDate">Begin Date</label>
				<input class="mdl-textfield__input" 
					type="text"
					id="beginDate"
					ng-model="$ctrl.invitation.beginDate"
					placeholder="Begin Date"
					style="border: 1px solid #080;" />
			</div>


			<div class="form-group">
				<label for="endDate">End Date</label>
				<input class="mdl-textfield__input" 
					type="text"
					id="endDate"
					ng-model="$ctrl.invitation.endDate"
					placeholder="End Date"
					style="border: 1px solid #060;" />
			</div>



			<div>
				<label>Available:
					<input type="checkbox" 
						id="isAvailable" 
						ng-checked="$ctrl.invitation.status === 1"
						ng-model="$ctrl.invitation.status"
						style="height: 15px; width: 15px;"  />
				</label>
			</div>


			<div>
				<input 
					type="file" 
					id="cameraInput" 
					name="cameraInput"
					capture="camera" 
					accept="image/*" 
					style="display:none" />

				<img id="cameraImage" alt="">
			</div>


			<div>
				<button class="btn btn-success" ng-click="$ctrl.getImage();">Image</button>
				<button class="btn btn-danger" ng-click="$ctrl.remove();">Remove</button>
				<button class="btn btn-success" ng-click="$ctrl.save();">Save</button>
				<button class="btn btn-warning" ng-click="$ctrl.send();">Send</button>
			</div>

		</form>

	<div class="simpleShareFABContainer">
		<button ng-click="$ctrl.sendFlyer('sms');" class="simpleShareFAB" tooltip="Text"></button>
		<button ng-click="$ctrl.sendFlyer('email');" class="simpleShareFAB" tooltip="Email"></button>
		<button ng-click="$ctrl.sendFlyer('google');" class="simpleShareFAB" tooltip="Google+"></button>
		<button ng-click="$ctrl.sendFlyer('twitter');" class="simpleShareFAB" tooltip="Twitter"></button>
		<button ng-click="$ctrl.sendFlyer('facebook');" class="simpleShareFAB" tooltip="Facebook"></button>
		<button class="simpleShareFAB" tooltip="Share"></button>			
	</div>

	</div>

</md-content>