<md-content>

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div class="custom-search-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for food or a cook by zip code.">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div><!-- /input-group -->
	</div>

	<div class="messages">
		<ul>
			<li ng-repeat="message in $ctrl.messages">
				{{ message.message }}
			</li>
		</ul>
	</div>

	<md-tabs 
		layout-padding
		md-selected="0" 
		md-stretch-tabs="always" 
		md-dynamic-height 
		md-center-tabs 
	>
		<!-- TAB 1 -->
		<md-tab label="Select Cook or Company" >
			<md-tab-body layout-padding="true">
				<cooks></cooks>
			</md-tab-body>
		</md-tab>

	</md-tabs>

</md-content>