<md-content>

	<toolbar id="toolbar" class="toolbar" style="display: inline;"></toolbar>

	<div class="custom-search-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for food or a cook by zip code.">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div><!-- /input-group -->
	</div>

	<div class="pageButtons">
		<ul>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
			<li style="display: inline;"><span class="glyphicon glyphicon-search"></span></li>
		</ul>
	</div>

	<div class="messages">
		<ul>
			<li ng-repeat="message in $ctrl.messages">
				Message: {{ message.message }}
			</li>
		</ul>
	</div>

	<md-tabs 
		layout-padding
		md-selected="0" 
		md-stretch-tabs="always" 
		md-dynamic-height 
		md-center-tabs 
	>
		<!-- TAB 1 -->
		<md-tab label="Manage Food">
			<md-tab-body layout-padding="true">
				<div>
					<ul class="pageList">
						<li class="alert alert-success" ng-click="$ctrl.go('food');">
							<span class="pull-left">
								Food
							</span>
							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
						</li>
						<li class="alert alert-success" ng-click="$ctrl.go('platters');">
							<span class="pull-left">
								Platters
							</span>
							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
						</li>
						<li class="alert alert-success" ng-click="$ctrl.go('menus');">
							<span class="pull-left" ng-click="$ctrl.go('menus');">
								Menus
							</span>
							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
						</li>
						<li class="alert alert-success" ng-click="$ctrl.go('specials');">
							<span class="pull-left">
								Specials
							</span>
							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
						</li>
					</ul>					
				</div>


			</md-tab-body>
		</md-tab>



		<!-- TAB 2 -->
		<md-tab label="Select Cook or Company" >
			<md-tab-body layout-padding="true">
				<cooks></cooks>
			</md-tab-body>
		</md-tab>

	</md-tabs>

</md-content>