<md-content>
	
	<md-list>
		<!-- List of companies/cooks in these zip codes. -->
		<md-list-item 
			class="md-1-line" 
			ng-repeat="item in $ctrl.cooks" 
			ng-class-odd="'odd'" 
			ng-class-even="'even'"
		>
			<div style="width: 100%;">
				<div class="md-list-item-text" ng-click="$ctrl.cookDetails(item);">
					<p style="display: inline;">{{ item.company }}</p>

					<span flex></span>

					<i class="material-icons" style="display: inline; float: right;">&#xE039;</i>
					<!-- For modern browsers. -->
					<!-- <i class="material-icons">play_circle_outline</i>-->
					<!-- For IE9 or below. -->
				</div>
				
			</div>

		</md-list-item>

	</md-list>

</md-content>